<header class="py-4">
    <nav class="container mx-auto px-4">
        <ul class="flex justify-center space-x-8">
            {% for item in site.data.settings.menu %}
            <li>
                <a href="{{ item.url }}" class="hover:text-gray-900 hover:underline hover:underline-offset-4">
                    <span class="text-gray-900 font-bold">0{{ forloop.index }}.</span> {{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
