<nav class="container mx-auto p-4">
    <ul class="flex justify-center space-x-8">
        <li>
            <a href="/" class="hover:text-gray-900 hover:underline hover:underline-offset-4">
                <span class="text-gray-900 font-bold">01.</span> home</a>
        </li>
        <li>
            <a href="/writings/" class="hover:text-gray-900 hover:underline hover:underline-offset-4">
                <span class="text-gray-900 font-bold">02.</span> writings</a>
        </li>
        <li>
            <a href="/about/" class="hover:text-gray-900 hover:underline hover:underline-offset-4">
                <span class="text-gray-900 font-bold">03.</span> about</a>
        </li>
    </ul>
</nav>
