---
layout: default.njk
---
<article class="post">
    <header class="post-header">
        <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
        <h1>{{ title }}</h1>
    </header>

    <div class="content">
        {{ content | safe }}
    </div>

    <footer class="post-footer">
        <a href="/" class="back-link">← All posts</a>
    </footer>
</article>
