:root {
    --content-width: 75rem;

    --font-family: -apple-system, BlinkMacSystemFont, Aptos, Roboto, "Segoe UI", Helvetica, Arial;
    --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-size-base: 11px;
    --font-size-x-small: 1.2rem;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.4rem;
    --font-size-xx-large: 3.4rem;

    --tailwind-slate-50: #f8fafc;
    --tailwind-slate-100: #f1f5f9;
    --tailwind-slate-200: #e2e8f0;
    --tailwind-slate-300: #cbd5e1;
    --tailwind-slate-400: #94a3b8;
    --tailwind-slate-500: #64748b;
    --tailwind-slate-600: #475569;
    --tailwind-slate-700: #334155;
    --tailwind-slate-800: #1e293b;
    --tailwind-slate-900: #0f172a;
    --tailwind-slate-950: #020617;


    --main-background-color: #ffffff;
    --main-text-color: var(--tailwind-slate-800);
    --border-color: var(--tailwind-slate-200);
    --card-border-color: var(--border-color);
    --card-shadow-color: var(--border-color);
    --button-color: var(--tailwind-slate-100);
    --button-text-color: var(--tailwind-slate-600);
    --muted-heading-color: var(--tailwind-slate-500);
    --code-border-color: var(--border-color);
    --code-background-color: var(--tailwind-slate-50);
    --blockquote-background-color: #ffffff;
    --blockquote-text-color: var(--tailwind-slate-700);

    @media (prefers-color-scheme: dark) {
        --main-background-color: var(--tailwind-slate-800);
        --border-color: var(--tailwind-slate-600);
        --card-border-color: var(--border-color);
        --card-shadow-color: var(--tailwind-slate-900);
        --button-color: var(--tailwind-slate-700);
        --button-text-color: var(--tailwind-slate-50);
        --muted-heading-color: var(--tailwind-slate-400);
        --code-border-color: var(--border-color);
        --code-background-color: var(--tailwind-slate-700);
        --blockquote-background-color: var(--tailwind-slate-700);
        --blockquote-text-color: var(--tailwind-slate-200);
    }
}

html {
    background: var(--main-background-color);
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size-base);
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    padding: 1.6rem;
}

.container {
    max-width: var(--content-width);
    margin: 0 auto;

    header {
        h1 {
            text-align: center;
            padding-top: 2rem;
            margin-top: 0;
            margin-bottom: 0;

            img {
                width: 125px;
                height: 125px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        h2 {
            text-align: center;
            margin-bottom: 4rem;
            font-size: var(--font-size-medium);
        }
    }

    section {
        article {
            border: 1px solid var(--card-border-color);
            border-radius: 3px;
            padding: 1rem 3rem 2rem;
            box-shadow: 5px 5px 7px var(--card-shadow-color);
            margin-bottom: 3rem;
            font-size: var(--font-size-large);

            h2 {
                text-align: center;
                font-weight: bold;
            }

            h3 {
                margin-top: 0;
                font-size: var(--font-size-small);
                text-align: center;
                font-weight: normal;
                color: var(--muted-heading-color);
            }

            .more {
                padding-top: 2rem;
                font-size: var(--font-size-medium);
                text-align: center;

                a {
                    border: 1px solid var(--border-color);
                    border-radius: 6px;
                    padding: 0.5rem 1rem;
                    text-decoration: none;
                    color: var(--button-text-color);
                    background-color: var(--button-color);
                }

                &:visited {
                    color: var(--button-text-color);
                }

            }
        }
    }
}

.post {
    .logo {
        padding-top: 2rem;
        margin-bottom: 4rem;
        text-align: center;

        img {
            width: 125px;
            height: 125px;
            border-radius: 50%;
            object-fit: cover;
        }
    }


    article {
        margin-bottom: 2rem;

        h1 {
            font-size: var(--font-size-xx-large);
            text-align: center;
            margin-bottom: 3rem;
            margin-top: 1rem;
        }

        h2 {
            font-size: var(--font-size-small);
            text-align: center;
            font-weight: normal;
            color: var(--muted-heading-color);
        }

        > .content {
            font-size: var(--font-size-large);

            h3 {
                margin-top: 4rem;
            }

            img {
                width: 100%;
            }

            figure {
                margin: 0;
                padding: 0;

                figcaption {
                    font-size: var(--font-size-small);
                    text-align: center;
                    font-style: italic;
                }
            }

            figure + figure {
                margin-top: 1em;
            }

            blockquote {
                border-left: 4px solid var(--border-color);
                background-color: var(--blockquote-background-color);
                margin: 2rem 0;
                padding: 0 1.5rem;
                font-style: italic;
                color: var(--blockquote-text-color);
            }

            hr {
                border: none;
                height: 1em;
                margin: 3em auto;
                position: relative;
                background: none;
            }

            hr::before {
                content: "* * *";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: var(--tailwind-slate-400);
                font-size: var(--font-size-large);
                letter-spacing: 0.5em;
            }

            a.footnote {
                font-size: var(--font-size-small);
                text-decoration: none;
            }

            .footnotes {
                font-size: var(--font-size-small);
            }
        }
    }
}

/* Basic code formatting */
code {
    border: 1px solid var(--code-border-color);
    background-color: var(--code-background-color);
    padding: 3px;
    font-size: var(--font-size-small);
}

pre {
    overflow-y: hidden;
    padding: 1rem;
    border: 1px solid var(--code-border-color);
    border-radius: 3px;
    background-color: var(--code-background-color);

    code {
        border: none;
        padding: 0;
    }
}
