---
layout: default
---
<div class="w-full max-w-md mx-auto">
    <div class="py-10">
        <img src="/assets/img/andreimaxim.jpg" class="mx-auto rounded-3xl w-80 h-80 sm:h-100 sm:w-100"/>
    </div>

    {% include navbar.liquid %}

    {{ content }}
</div>
