---
layout: default
---
<div class="post">
    <div class="logo">
        <a href="/">
            <img src="/assets/img/andreimaxim.jpg" alt="Andrei Maxim"/>
        </a>
    </div>
    <article>
        <h2>{{ date | date: "%B %e, %Y" }}</h2>
        <h1>{{ title }}</h1>

        <div class="content">
            {{ content }}
        </div>
    </article>
</div>


