---
layout: default.liquid
title: Home
---
<section class="home-hero">
    <h1>Hello, I'm Andrei Maxim.</h1>
    <p class="lede">
        I'm a Ruby developer based in Romania. I've been building web applications for over a decade,
        mostly with Ruby on Rails. I care about clean code, performance, and building software that's a joy to use.
    </p>
</section>
<section class="home-latest">
    <div class="section-heading">
        <h2>Latest writing</h2>
        <a class="section-link" href="/archive/">View archive</a>
    </div>
    <ol class="post-list">
        {% for post in collections.posts reversed limit:10 %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
        </li>
        {% endfor %}
    </ol>
</section>
