<aside class="author-bio">
    <img src="/assets/img/andreimaxim.jpg" alt="" width="64" height="64"/>
    <div class="author-info">
        <p class="author-name">Andrei Maxim</p>
        <p class="author-tagline">Ruby developer</p>
        <nav class="author-links" aria-label="Author links">
            <a href="https://twitter.com/rockatanescu" rel="me">Twitter</a>
            <a href="https://github.com/andreimaxim" rel="me">GitHub</a>
            <a href="https://www.linkedin.com/in/andreimaxim/" rel="me">LinkedIn</a>
        </nav>
    </div>
</aside>
